---
layout: page
---
<h1>Unleash the Street Market</h1>
<% blog.articles[0...5].each do |article| %>
	<article>
		<header>
			<p><time><%= article.date.strftime('%e %B %Y') %></time></p>
			<h2><%= article.title %></h2>
		</header>
		<%= article.data.description %>
    <a href="<%= article.url %>">Continue reading <cite><%= article.title %></cite></a>.
  </article>
<% end %>
