<?xml version="1.0" encoding="<%= config.encoding %>"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/visual.css" %>" media="print,screen"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/print.css" %>" media="print"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/screen.css" %>" media="screen"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= data.settings.site.language %>" vocab="http://www.w3.org/2011/rdfa-context/rdfa-1.1">
	<head prefix="article: http://ogp.me/ns/article#">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
	<% if current_page.path == 'index.xhtml' %>
		<meta property="og:locale" content="<%= data.settings.open_graph.language_TERRITORY %>" />
		<meta name="description" content="<%= data.settings.site.description %>" />
		<meta name="keywords" content="<%= data.settings.site.tags %>" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= absolute_url(current_page) %>" />
		<meta property="og:site_name" content="<%= data.settings.site.name %>" />

	<% elsif current_article %>
		<meta property="og:description" name="description" content="<%= current_article.data.description %>" />
		<meta property="og:title" content="<%= doc_title %>" />
		<meta property="article:author" name="author" content="<%= data.settings.author.name %>" />
		<meta property="article:published_time" content="<%= current_resource.date.iso8601 %>" />
		<meta property="article:modified_time" content="<%= File.mtime(current_page.source_file).iso8601 %>" />
		<meta property="og:url" content="<%= absolute_url(current_page) %>" />
		<meta property="fb:app_id" content="<%= data.settings.open_graph.app_id %>" />
		<meta property="article:tag" name="keywords" content="<%= current_article.data.tags %>" />
		<meta property="og:type" name="keywords" content="article" />
		<meta property="og:image" content="<%= absolute_url(current_article.data.thumbnail) %>" />
		<meta property="og:image:secure_url" content="<%= absolute_url(current_article.data.thumbnail) %>" />
		<meta property="og:image:type" content="<%= current_article.data.thumbnail.type %>" />
		<meta property="og:image:width" content="<%= current_article.data.thumbnail.width %>" />
		<meta property="og:image:height" content="<%= current_article.data.thumbnail.height %>" />
	<% end %>
		<meta name="author" content="<%= data.settings.author.name %>" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicons/favicon-16x16.png" />
		<link rel="manifest" href="/images/icons/favicons/site.webmanifest" />
		<link rel="mask-icon" href="/images/icons/favicons/safari-pinned-tab.svg" color="#ff2663" />
		<link rel="shortcut icon" href="/images/icons/favicons/favicon.ico" />
		<meta name="apple-mobile-web-app-title" content="Unleash the Street Market" />
		<meta name="application-name" content="Unleash the Street Market" />
		<meta name="msapplication-TileColor" content="#ff2663" />
		<meta name="msapplication-config" content="/images/icons/favicons/browserconfig.xml" />
		<meta name="theme-color" content="#ff2663" />
		<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
	</head>
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
				<% if current_page.path == 'index.xhtml' %>
				<dt property="dcterms:title"><%= data.settings.site.name %></dt>
				<% else %>
				<dt><%= link_to data.settings.site.name, '/index.xhtml' %></dt>
			<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dcterms:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
				<% if current_page.path == 'index.xhtml' %>
					<li>Home</li>
				<% else %>
					<li><%= link_to 'Home', '/index.xhtml', accesskey: '1' %></li>
				<% end %><!--End of home link-->
					<li><%= link_to 'Copyright', '#nav_copyright', accesskey: '6' %></li>
					<li><%= link_to 'Access keys', '#nav_accesskeys', accesskey: 'k' %></li>
					<% if current_page.path == "colophon.xhtml" %>
					<li>Colophon</li>
				<% else %>
					<li><%= link_to 'Colophon', '/colophon.xhtml' %></li>
				<% end %><!--End of archive link-->
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
			<%= yield %>
	</body>
</html>